<form #form = "ngForm" (ngSubmit)="onSubmit(form)" class="form-inline">
        <div class="form-group col-xl-12 my-5 justify-content-center">
        <!-- style="float: left; margin-right: 10px; margin-bottom: 10px" -->
        <input type="text" name="new_task" class="form-control col-md-8 mr-2 mb-2" id="tasksInput" placeholder="Enter To Do Task" ngModel>
        <!-- style="float: right; margin-bottom: 10px" -->
        <button type="submit" class="btn btn-primary mb-2">Submit</button> 
        </div>
</form>
